useDynLib(BCEE)
importFrom(Rcpp, evalCpp)
importFrom(BMA, bic.glm)
importFrom(stats, glm, BIC, aggregate, sd, coef, rnorm, lm, update, vcov)
importFrom(leaps, regsubsets)
exportPattern("ABCEE", "NBCEE")
